<p>zodiaco works!</p>
<form [formGroup]="formularioZodiaco">


<div class="mb-3">
    <label for="nombre" class="form-label">
        nombre
        <input type="text" id="nombre" class="form-control" formControlName="nombre">    
    </label><br>
    <label for="aPaterno" class="form-label">
        apellido Paterno
        <input type="text" id="aPaterno" class="form-control" formControlName="aPaterno">    
    </label><br>
    <label for="aMaterno" class="form-label">
        apellido Materno
        <input type="text" id="aMaterno" class="form-control" formControlName="aMaterno">    
    </label><br>
    Fecha de nacimiento <br>
    <label for="dia" class="form-label">
        Dia
        <input type="number" id="dia" class="form-control" formControlName="dia">    
    </label>
    <label for="mes" class="form-label">
        Dia
        <input type="number" id="mes" class="form-control" formControlName="mes">    
    </label>
    <label for="anio" class="form-label">
        Dia
        <input type="number" id="anio" class="form-control" formControlName="anio">    
    </label> <br>
    Sexo  <br>
    <label for="sexo" class="form-label">
        
        <button type="radio" id="sexo" class="form-control" formControlName="sexo" value="0"></button>masculino
        <button type="radio" id="sexo" class="form-control" formControlName="sexo" value="1"></button>femenino
    </label> <br>



    <button class="btn btn-primary" (click)="imprimirZodiaco()"> Imprimir</button>
            <h2>Hola {{nombreM}} <br> 
            tienes {{edadM}} años <br>
        tu signo zodiacal chino es {{signoM}}</h2>
</div>



</form>

